body{
    background-color: #48593A;
    color: white;
    font-family: Arial, sans-serif;
}
header{
    background-color:#597741;
    color: white;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
}
h2 {
    color:#48593A;
}
p {
    font-size: 18px;
    line-height: 1.6;
}